.headers {
    display: inline-block;
    font-family: 'Montserrat', sans-serif;
    font-size: 5rem;
    font-weight: 400;
    color: var(--color-primary);
}

.texts {
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    font-size: 1.9rem;
    line-height: 3;
    color: var(--grey-dark-2);
}