:root {
    --color-primary: #4600c4;
    --color-primary-clicked: #5d06ff;

    --neon-blue: #00ffe7;
    --neon-blue-clicked: #84fff3;
    --neon-blue-dark: #003b35;
    --neon-green: #00ffd2;
    --neon-green-clicked: #a1ffee;

    --dark-blue: #0a001b;

    --grey-light: #595959;
    --grey-dark: rgb(45, 45, 45);
    --grey-dark-2: rgb(22, 22, 22);

    --color-freelancer: #00f6ff;
    --color-fiverr: #00ffba;
}